.containerCard {
	width: 80%;
	border: solid 2px black;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 1rem auto;
	.categorie {
		display: flex;
		margin: 0 auto;
		width: 20%;
	}
	.infoCard {
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
