.headerGalery {
	.imageHeader {
		display: flex;
		margin: 0 auto;
		height: 40vh;
		width: 80vw;
		border-radius: 20px;
	}
	label {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: gray;
		padding: 50px 50px;
		border-radius: 20px;
		width: 50%;
		margin: -3rem auto 4rem;
		z-index: 1;
		position: absolute;
		left: 25%;
	}
}
